
@{
    ViewBag.Title = "Result";
}



<div class="form-group">
    <div class="col-md-8">
        @Html.Action("WinResults", "Trades")

    </div>
</div>
<div class="form-group">
    <div class="col-md-8">
        @Html.Action("LooseResults", "Trades")

    </div>
</div>
<div class="form-group">
    <div class="col-md-8">
        @Html.Action("Index", "Charts")

    </div>
</div>